<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClQO6ekAPNRHmXY1fJvGn2CS-VaoYE9uo</string>
	<key>GCM_SENDER_ID</key>
	<string>331016100320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gofare.app</string>
	<key>PROJECT_ID</key>
	<string>assas-432ce</string>
	<key>STORAGE_BUCKET</key>
	<string>assas-432ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331016100320:ios:4a5b00ee938c8879e37385</string>
</dict>
</plist>